.estilocaja1{
    background-color: coral;
    border: 1px solid white;
}
.izquierdo{
    background-color: lightgreen;
    border: 1px solid white;
}
.derecho{
    background-color: rgb(24, 104, 130);
    border: 1px solid white;
}
.menu{
    background-color: lightblue;
    border: 1px solid white;
}
.cuerpo{
    background-color: rgb(210, 210, 19);
    border: 1px solid white;
}